<script>
  import { Container, Row, Col } from 'sveltestrap';
  import Navbar from 'src/components/Navbar';
  import Timeline from 'src/components/Timeline';
</script>

<style>
  :global(body) {
    background-color: gainsboro;
  }
</style>

<Container>
  <Navbar color="dark" expand="md" />
  <Timeline />
</Container>
