<script>
  import { Row, Col, Navbar } from 'sveltestrap';
</script>

<style>
  h1 {
    color: palegoldenrod;
  }
</style>

<Row>
  <Col>
    <Navbar color="dark" expand="md">
      <h1>Pushshift Query Builder</h1>
    </Navbar>
  </Col>
</Row>
