<script>
  import {
    Row,
    Col,
    Card,
    CardBody,
    CardHeader,
    Form,
    FormGroup,
    Label,
    Input,
    CustomInput,
  } from 'sveltestrap';

  let dataSources = [
    { id: 1, value: 'reddit', text: 'Reddit' },
    { id: 2, value: 'twitter', text: 'Twitter' },
  ];
  let intervals = [
    { id: 1, value: 'hour', text: 'Hour' },
    { id: 2, value: 'day', text: 'Day' },
    { id: 3, value: 'week', text: 'Week' },
    { id: 3, value: 'month', text: 'Month' },
  ];

  let formValues = {
    timelineSearchTerm: '',
    timelineDataSource: 'reddit',
    timelineInterval: '',
    timelineStartDate: '',
    timelineEndDate: '',
  };
  // Pre-populate from query string parameters (if they're non-null)
  if (location.search) {
    formValues = location.search
      .substring(1)
      .split('&')
      .map(kv => kv.split('='))
      .reduce((acc, [k, v]) => ({ ...acc, [k]: decodeURIComponent(v) }), {});
  }

  $: entities =
    formValues.timelineDataSource === 'twitter' ? 'tweets' : 'posts';

  function handleSubmit(event) {
    event.preventDefault();
    console.log(entities);

    console.log(formValues);
  }
</script>

<style>

</style>

<Row>
  <Col>
    <Card>
      <CardBody>
        <form on:submit|preventDefault={handleSubmit}>

          <FormGroup>
            <Label for="timelineSearchTerm">
              Graph all {entities} that mention
            </Label>
            <Input
              id="timelineSearchTerm"
              name="timelineSearchTerm"
              placeholder="'Trump'"
              required
              bind:value={formValues.timelineSearchTerm} />

            <Label for="timelineDataSource">from</Label>
            <CustomInput
              type="select"
              id="timelineDataSource"
              name="timelineDataSource"
              required
              inline
              on:change={e => (formValues.timelineDataSource = e.target.value)}
              bind:value={formValues.timelineDataSource}>
              {#each dataSources as dataSource}
                <option value={dataSource.value}>{dataSource.text}</option>
              {/each}
            </CustomInput>

            <Label for="timelineInterval">per</Label>
            <CustomInput
              type="select"
              id="timelineInterval"
              name="timelineInterval"
              required
              on:change={e => (formValues.timelineInterval = e.target.value)}
              bind:value={formValues.timelineInterval}>
              {#each intervals as interval}
                <option value={interval.value}>{interval.text}</option>
              {/each}
            </CustomInput>

            <Label for="timelineStartDate">from</Label>
            <CustomInput
              type="date"
              id="timelineStartDate"
              name="timelineStartDate"
              on:change={e => (formValues.timelineStartDate = e.target.value)}
              bind:value={formValues.timelineStartDate} />
            <Label for="timelineEndDate">'til</Label>
            <CustomInput
              type="date"
              id="timelineEndDate"
              name="timelineEndDate"
              on:change={e => (formValues.timelineEndDate = e.target.value)}
              bind:value={formValues.timelineEndDate} />
          </FormGroup>
        </form>
      </CardBody>

    </Card>
  </Col>
</Row>
